@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
    --color-primary: #006241;
    --color-actual: #1e3932;
    --color-secondary: #f06464;
    --color-tertiary: #9bf5b4;
    --color-others: #d4e9e2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #000;

}
a{
    color: #000;
}
p{
    margin: 5px 0;
}

/*NAVBAR*/
.navbar{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #fff;
}
.navbar ul{
    display: flex;
    align-items: center;
    
}
.navbar li{
    margin: 0px 15px;
    font-weight: bold;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav-mrg{
    flex: 1;
    padding-left: 20px;
}
.navbar-nav-mrg a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}
.navbar-nav-mrg a:hover{
    color: var(--color-primary)
}
.navbar-nav-mrg li{
    list-style: none;
}
.navbar-nav-others li{
    list-style: none;
}
.navbar-nav-others a{
    text-decoration: none;
    color: #000;
}
.navbar-logo img{
    width: 50px;
    height: auto;
}
.navbar-nav-others img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.btn-white{
border-radius: 20px;
padding: 5px 10px;
background-color:transparent;
cursor: pointer;
}
.btn-white:hover{
    background-color: rgb(237, 237, 237);
}
.btn-white-1{
    border-radius: 20px;
    padding: 7px 13px;
    background-color:transparent;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    font-weight: bold;
    font-size: 16px;
    }
    .btn-white-1:hover{
        background-color: #1e312b;
    }
    .btn-white-2{
        border-radius: 20px;
        padding: 7px 13px;
        background-color:transparent;
        cursor: pointer;
        color: #fff;
        border: 1px solid #fff;
        font-weight: bold;
        font-size: 16px;
        }
        .btn-white-2:hover{
            background-color: #dd7c7c;
        }
        .btn-white-3{
            border-radius: 20px;
            padding: 7px 13px;
            background-color:transparent;
            cursor: pointer;
            color: var(--color-actual);
            border: 1px solid var(--color-actual);
            font-weight: bold;
            font-size: 16px;
            }
            .btn-white-3:hover{
                background-color:#b8cac4;
            }
.btn-dark{
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
}
.btn-dark:hover{
    background-color: rgb(44, 44, 44);
}
hr { 
    padding: 0;
    border: none; 
    border-top: medium double #8c8c8c; 
    color: #8c8c8c; 
}
img{
    border: 0;
    padding: 0;
    margin: 0;
}
.main{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 30px;

}
.outer{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: var(--color-actual);
    color: #fff;
}
.inner-left{
    flex: 1;
    width: 50%;
}
.inner-right{
    width: 50%;
    margin: auto ;
    text-align: center;
    
    font-size: 20px;
}
.outer-1{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: var(--color-secondary);
    color: #fff;
}
.inner-left-1{
   padding: 90px;
    width: 50%;
    margin: auto ;
    text-align: center;
    font-size: 20px;
}
.inner-right-1{
    flex: 1;
    width: 50%; 
}
.cold-brew{
    font-size: 54px;
    font-weight: 900;
    
}
.cold-brew-desc{
    font-size: 24px;
}
.outer-2{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: var(--color-tertiary);
    color : var(var(--color-actual));
}
.inner-right-2{
   padding: 90px;
    width: 50%;
    margin: auto ;
    text-align: center;
    font-size: 20px;
}
.inner-left-2{
    flex: 1;
    width: 50%; 
}
.outer-3{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: var(--color-others);
    color : var(--color-actual);
}
.inner-left-3{
    padding: 90px;
     width: 50%;
     margin: auto ;
     text-align: center;
     font-size: 20px;
 }

 .inner-right-3{
     width: 50%;
     margin: auto ;
     
 }
 .picnic{
    font-size: 26px;
    font-weight: 900;
}
.picnic-desc{
    font-size: 20px;
}

.inner-left-4{
    width: 50%;
    margin: auto ;
 }

 .inner-right-4{
     padding: 90px;
     width: 50%;
     margin: auto ;
     text-align: center;
     font-size: 16px;
     font-weight: 600;
 }